.quick-launch-container {
  text-align: middle;
  margin: 0 auto;
  width: 525px;
  height: 245px;
  margin-top: 150px; 
  padding: 20px;
  border: 2px solid black;
  background-color: #ddd;
}
.quick-launch-item {
  border: 2px solid #555;
  background-color: #eee;
  width: 150px;
  height: 100px;
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  margin-bottom: 10px;
  cursor: pointer;
}
.quick-launch-item:hover {
  background-color: #aaa;
}
.login-container-title {
  text-align: center;
  padding-bottom: 10px;
  font-size: 18pt;
  font-weight: bold;
}
.login-container {
  width: 180px;
  height: 150px;
  /*border: 2px solid red;*/
  position: relative;
  margin: 0 auto;
  margin-top: 30%;
}
.login-submit-button {
  position: absolute;
  right: 8px;
  bottom: 0px;
}
